.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    height: 30px;

    transition-timing-function: ease-in ;
    transition: all 0.5s;
}

.nav_black{
    background-color: black;
}
.nav_logo{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav_avatar{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    object-fit: contain;
}